<h1>Home page</h1>
<h2>showing angular page change loading</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam molestias deserunt ut sit cupiditate,
    quas adipisci. Temporibus distinctio dolore nobis suscipit veritatis quasi laudantium, numquam libero 
    minus minima. Architecto, deserunt?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quos officiis veritatis distinctio quod 
    quia est consequatur, fugiat ratione dicta amet facere necessitatibus provident corporis pariatur voluptas
     maxime eos assumenda?</p>